---
import Head from '@/components/Head.astro'

import { getItalianDate } from '@/lib/date'
import { SITE_NAME, SITE_DESCRIPTION } from '@/lib/constants'

import '@/styles/reset.css'
---

<html lang="it">
   <Head title={`${SITE_NAME} - ${getItalianDate()}`} description={SITE_DESCRIPTION} />
   <body>
      <slot />
   </body>
</html>
