---
import Head from '@/components/Head.astro'

import { getItalianDateWithDay } from '@/lib/dates'
import { SITE_NAME, SITE_DESCRIPTION } from '@/lib/constants'

import '@/styles/reset.css'
import '@/styles/variables.css'
import '@/styles/global.css'

const { title = `${SITE_NAME} - ${getItalianDateWithDay()}`, description = SITE_DESCRIPTION } =
   Astro.props as {
      title?: string
      description?: string
   }
---

<html lang="it">
   <Head {title} {description} />
   <body>
      <slot />
   </body>
</html>
